#client-review{
    padding-bottom: 96px;
    .header{
        padding-bottom: 50px;
        h3{
            @include fonts(Inter,700,45px,$primary_color);
            padding-bottom: 30px;
            text-transform: capitalize;
        }

        p{
            @include fonts(Inter,400,16px,$sec_color);
            line-height: 26px;
        }
    }

    .review-wrapper{
        .review-main{
            margin-top: 150px;
            &.slick-center .review-item{
                box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.06);
                border-radius: 20px;
                margin-top: -120px;
            }
            .review-item{
                @include pGap(54px,54px,58px,58px);
                width: 424px;
                transition: all linear .5s;
                .review-icon1{
                    padding-bottom: 20px;
                }
                .review-text{
                    padding-bottom: 30px;
                    p{
                        @include fonts(Inter,400,16px,$sec_color);
                        line-height: 26px;
                        margin-bottom: 0;
                        padding-bottom: 20px;
                    }
                }
                .profile-detail{
                    display: flex;
                    .profile-text{
                        margin-left: 20px;
                        h4{
                            @include fonts(Inter,600,20px,$primary_color);
                            line-height: 24px;
                            text-transform: capitalize;
                        }
                        p{
                            @include fonts(Inter,400,16px,$sec_color);
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}