#success{
    padding-bottom: 150px;
    .success_bg{
        @include pGap(70px,70px,0,0);
        background-color: #F8F6FE;
        .success-text{
            padding-left: 50px;
            h4{
                @include fonts(Inter,500,25px,$other_color);
                text-transform: capitalize;
                padding-bottom: 15px
            }

            h2{
                @include fonts(Inter,700,35px,$primary_color);
                line-height: 42px;
            }
        }
        .success-count{
            h5{
                @include fonts(Inter,700,50px,$primary_color);
                padding-bottom: 60px
            }

            p{
                @include fonts(Inter,500,20px,$primary_color);
                padding-bottom: 24px;
            }

            a{
                u{
                    @include fonts(Inter,500,20px,$other_color);
                }
            }
        }
    }
}